/*------------------------------------*|
  #photo
/*------------------------------------*/
.photo {
}
.photo__panorama {
  margin-bottom: 20px;
}
.photo-item {
}
.panorama {
  width: 100%;
}
.panorama__image {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}
.panorama__image img {
  height: 137px;
  width: 100%;
  object-fit: contain;
}
.photo-item__image {
}
.panorama__text {
  position: absolute;
  top: 0;
  right: 20px;

  height: 36px;
  padding: 0 20px;

  font-size: 12px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-pink);
}

.photo-item__info {
}
.info {
  padding: 20px 10px 20px 17px;
  background-color: var(--color-standart-gray);
}
.info__header {
}
.info__user-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.info__time {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}
.info__description {
  font-size: 14px;
  line-height: 24px;
}
.info__like-row {
  display: flex;
  align-items: center;
}

/*------------------------------------*|
  #like
/*------------------------------------*/
.like {
}
.like__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.like__symbol {
  width: 13px;
  height: 12px;
  flex-shrink: 0;
  fill: var(--color-pink);
  path {
      fill: var(--color-pink);
    }
    
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.like__text {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: var(--color-pink);
}
.like__number {
}




.photo__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.photo__item {
}
.photo__text {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

/*------------------------------------*|
  #editor
/*------------------------------------*/
