.social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}
.social__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 3px solid var(--color-dark-gray-extra-opacity);
  border-radius: 50%;
  transition: border-color 200ms ease 0s;
  &--youtube  svg {
    margin-left: 5px;
  }
  &:hover,
  &:focus {
    border-color: var(--color-dark-gray);
  }
  &:active {
    opacity: 0.1;
  }
}
.social__button svg {
  fill: var(--color-pink);
}

.page-footer {
  padding: 40px 0;
}

.logo-colorful {
  display: block;
  width: 145px;
  &:hover .logo-colorful__text,
  &:focus .logo-colorful__text {
    fill: var(--color-pink);
    transition: fill 200ms ease 0s;
  }
  &:active {
    opacity: 0.3;
  }
  &:active .logo-colorful__text {
    fill: var(--color-dark-blue);
  }
}
.page-footer__logo {
  margin: 0 auto;
  margin-bottom: 45px;
}

.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__copyright {
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright__text {
  margin-right: 15px;
  font-size: 14px;
  line-height: 18px;
}
.copyright a {
  display: flex;
  align-items: center;
}
.copyright__svg-icon {
  fill: var(--color-pink);
  transition: fill 200ms ease 0s;
  &:hover,
  &:focus {
    fill: var(--color-dark-blue);
  }
  &:active {
    fill: var(--color-dark-blue);
    opacity: 0.3;
  }
}
