/* ------------------------------------*|
  #Базовые стили
/*------------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.page__body {
  margin: 0; /* если нет обнуляющего */
  padding: 0;
  overflow-x: hidden; //это я сам придумал...
  color: var(--color-dark-blue);
  font-weight: 400;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.7;
  background: var(--basic-black) url("../img/bg.jpg") top center no-repeat; /* всегда для любого текста указывай фон, на случай, если картинка под этим текстом не загрузится */
}

img {
  max-width: 100%; /* чтобы картинка не стала больше чем её контейнер */
  height: auto; /* картинка сохраняет пропорции */
  vertical-align: top;
}

/* ------------------------------------*|
  #Служебные классы
/*------------------------------------ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 660px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0 130px;
  }
}

/* ------------------------------------*|
  #Общие классы
/*------------------------------------ */

.section {
}

.section__title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.slider {
}

.slider__list {
}

.slider__toggles {
  display: flex;
  justify-content: center;
  width: auto;
}

.slider__toggle {
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  margin-right: 20px;
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-dark-gray-opacity);
  background-clip: content-box;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--color-dark-gray);
  }

  &:active {
    background-color: var(--color-dark-gray-extra-opacity);
  }

  &--current {
    background-color: transparent;
    background-image: radial-gradient(
      transparent 3px,
      var(--color-dark-gray) 4px,
      var(--color-dark-gray) 6px,
      transparent 7px
    );
    background-clip: padding-box;
    //box-shadow: 0 0 0 3px var(--color-dark-gray);

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.slider__button {
}

/* ------------------------------------*|
  #Logo
/*------------------------------------ */

.logo {
  position: relative;
  z-index: 1;
  display: block;
  flex-shrink: 0;
  // height: 23px;
  // width: 74px;
  cursor: pointer;
  fill: var(--color-white);

  &:hover svg,
  &:focus svg {
    transition: fill 200ms ease 0s;
    fill: var(--color-pink);
  }

  &:active svg {
    opacity: 0.3;
    fill: #ffffff;
  }

  &:active .login__svg-star {
    fill: #ffffff;
  }

  @media (max-width: $mobile-width-only) {
    height: 23px;
  }
}

.logo__svg {
  width: 74px;
  height: 23px;

  @media (min-width: $tablet-width) {
    width: 147px;
    height: 42px;
  }
}

.logo__mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__tablet {
  display: none;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: block;
  }
}

.logo__svg-star {
  fill: var(--color-pink);
}

.logo-colorful--tablet {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo__desktop,
.logo-colorful--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo__svg-blue-star,
.logo-colorful__text {
  fill: var(--color-dark-blue);
}

.logo-colorful:hover .logo__svg-blue-star,
.logo-colorful:hover .logo-colorful__text {
  fill: var(--color-pink);
}

// .logo-colorful {
//   display: block;
//   width: 145px;
//   &:hover .logo-colorful__text,
//   &:focus .logo-colorful__text {
//     fill: var(--color-pink);
//     transition: fill 200ms ease 0s;
//   }
//   &:active {
//     opacity: 0.3;
//   }
//   &:active .logo-colorful__text {
//     fill: var(--color-dark-blue);
//   }
// }

/* ------------------------------------*|
  #Button
/*------------------------------------ */

.button {
  width: 100%;
  padding: 15px 45px;
  border: none;
  border-radius: 1px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-green);
  cursor: pointer;
  transition: background-color 200ms ease 0s;

  &:hover,
  &:focus {
    background-color: var(--color-dark-green);
  }

  &:active {
    color: var(--color-white-opacity);
    outline: none;
  }

  &:disabled {
    background-color: var(--color-light-gray);
    cursor: auto;
  }

  @media (min-width: $tablet-width) {
    width: 295px;
  }
}

/* ------------------------------------*|
  #page-description
/*------------------------------------ */

.page-description__text {
  margin: 0 auto;
  padding: 50px 0 50px 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  span {
    display: none;
  }

  @media (min-width: $tablet-width) {
    max-width: 490px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;

    span {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 756px;
  }
}

/* ------------------------------------*|
  #promo
/*------------------------------------ */

.promo {
  min-height: 237px;
  padding: 95px 0 60px 0;
  background: url("../img/index/background/bg-back-mobile@1x.jpg") 0 -45px / cover no-repeat;

  @media (min-resolution: 2dppx) and (max-width: $mobile-width-only) {
    background-image: url("../img/index/background/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding: 180px 0 60px 0;
    background-image: url("../img/index/background/bg-back-tablet@1x.jpg");
    background-position: center top;
    background-size: 1200px 729px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/background/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 175px 0 95px 0;
    background-color: var(--color-dark-blue);
    background-image: url("../img/index/background/bg-back-desktop@1x.jpg");
    background-size: 2560px 823px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/background/bg-back-desktop@2x.jpg");
    }
  }
}

.promo__title {
  margin: 0;
  color: var(--color-white);
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
